.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
.card-header {
    background:#fff;
    font: 600 14px/50px Roboto,sans-serif;
    color: #212121;
}
.btn {
    background: #fff;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    padding: 2px 16px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
    color: #212121;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    font: 500 14px/31px Roboto,sans-serif!important;
}
.btn:hover {
    outline: 0;
    text-decoration: none;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.btn-primary, .btn-primary:hover {
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3;
}

.btn-success, .btn-success:hover {
    color: #fff;
    background-color: #7cb342;
    border-color: #7cb342;
}

.btn-info, .btn-info:hover {
    color: #fff;
    background-color: #00aced;
    border-color: #00aced;
}

.btn-danger, .btn-danger:hover {
    color: #fff;
    background-color: #e53935;
    border-color: #e53935;
}

.badge-info {
    background-color: #00aced;
}

.page-link, .page-link:hover {
    color: #212121;
}

label{
        font-weight: 600;
}
.mb-20 {
        margin-bottom: 20px;
}
.mt-20 {
        margin-top: 20px;
}

.img-height {
    max-height: 250px;
    margin: 0 auto;
    display: block;
}

.img-height-view {
    max-height: 250px;
}
.card {
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border: none;
    border-radius: 0;
}
.bg-success {
    background-color: #7cb342!important;
}
.bg-warning {
    background-color: #ffa000!important;
}
.bg-primary {
    background-color: #2196f3!important;
}
.bg-danger {
    background-color: #e53935!important;
}
.text-success {
    color: #7cb342!important;
}
.text-warning {
    color: #ffa000!important;
}
.text-primary {
    color: #2196f3!important;
}
.text-danger {
    color: #e53935!important;
}
.card-footer {
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.12);
}
.card-footer a{
    text-decoration:none;
    color:#727272!important;
}

.clr-def {
    color:#727272!important;
}
.alert-success {
    color: #8bc34a!important;
    background-color: #fff;
    border-color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 0;
    border-left: 6px solid #8bc34a;
}

.delete-image {
    color: red;
    position: absolute;
    right: 30px;
    top: 5px;
    z-index: 999;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
}

.delete-video {
    color: red;
    position: absolute;
    right: 30px;
    top: 5px;
    z-index: 999;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
}