@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html,
body {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}
.wrapper .left-image {
    width: 50%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat top center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .content-area {
    width: 50%;
}
.wrapper .left-image h1 {
    color: #ffffff;
    font-size: 60px;
    line-height: 58px;
    text-align: center;
}
.wrapper .left-image h1 span {
    display: block;
    color: #f43f9c;
}
.wrapper .content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .content-area .kathu {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .content-area .kathu .veena-logo {
    width: 181px;
    margin: 0 auto 50px auto;
}
.wrapper .content-area .kathu .veena-logo img {
    width: 100%;
}
.wrapper .content-area .kathu p {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    color: #20304a;
}
.social {
    width: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.social a {
    display: block;
    width: 50px;
    height: 50px;
    background-size: 100%;
}
.social a.facebook {
    background: url(../images/facebook.jpg) no-repeat;
}
.social a.instagram {
    background: url(../images/instagram.jpg) no-repeat;
}
.wrapper .map {
    height: 20%;
    display: flex;
}
.wrapper .map a {
    display: block;
    width: 50%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #050d11;
    display: flex;
    justify-content: center;
}
.wrapper .map a i {
    width: 50px;
    height: 50px;
    background: url(../images/location.png) no-repeat 0 0;
    background-size: 100%;
    margin-right: 10px;
}
.wrapper .map .left {
    background: #f0ede9;
}
.wrapper .map .right {
    background: #eae6e0;
}
.wrapper .social {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .social a {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 10px;
    border-radius: 50px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}
.wrapper .social img {
    width: 100%;
    
}
.wrapper .social a:hover {
    box-shadow: 7px 10px 20px 2px rgba(0, 0, 0, 0.16);
}
@media (max-width: 1140px) {
    .wrapper .left-image h1 {
        font-size: 46px;
        line-height: 45px;
    }
    .wrapper .content-area .kathu p {
        font-size: 16px;
        line-height: 28px;
    }
    .wrapper .map a {
        font-size: 16px;
    }
}
@media (max-width: 968px) {
    .wrapper {
        display: block;
    }
    .wrapper .left-image,
    .wrapper .content-area {
        width: 100%;
    }
    .wrapper .left-image {
        height: 55%;
        background: url(../images/bg.jpg) no-repeat right 53%;
        background-size: 100%;
    }
    .wrapper .left-image h1 {
        font-size: 36px;
        line-height: 39px;
    }
    .wrapper .content-area .kathu {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .wrapper .content-area {
        height: auto;
    }
    .wrapper .map {
        height: 140px;
    }
    .wrapper .content-area .kathu p {
        font-size: 16px;
        line-height: 23px;
    }
    .wrapper .map a {
        font-size: 14px;
    }
    .wrapper .map a i {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 768px) {
    .wrapper .left-image {
        background: url(../images/bg.jpg) no-repeat right 23%;
        background-size: 100%;
    }
    .wrapper .content-area .kathu p {
        width: 80%;
    }
    .wrapper .content-area .kathu .veena-logo {
        width: 150px;
    }
}
.hide-000logo ~ div {
    display: none !important;
    opacity: 0;
    transform: scale(0);
}
