@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap';
@font-face {
  font-family: "Conv_Maax";
  src: url("../fonts/Maax.eot");
  src: local("☺"), url("../fonts/Maax.woff") format("woff"), url("../fonts/Maax.ttf") format("truetype"), url("../fonts/Maax.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Maax_black";
  src: url("../fonts/Maax-black.eot");
  src: local("☺"), url("../fonts/Maax-black.woff") format("woff"), url("../fonts/Maax-black.ttf") format("truetype"), url("../fonts/Maax-black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Maax_bold";
  src: url("../fonts/Maax bold.eot");
  src: local("☺"), url("../fonts/Maax-bold.woff") format("woff"), url("../fonts/Maax-bold.ttf") format("truetype"), url("../fonts/Maax-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Maax_medium";
  src: url("../fonts/Maax-medium.eot");
  src: local("☺"), url("../fonts/Maax-medium.woff") format("woff"), url("../fonts/Maax-medium.ttf") format("truetype"), url("../fonts/Maax-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*font size start*/
/*font size end*/
.read-more .read-more-icon {
  display: inline-block;
  width: 27px;
  height: 5px;
  position: relative;
}
.read-more .read-more-icon:before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/next-btn.svg) no-repeat 0 0;
  background-size: 26px;
  width: 27px;
  height: 5px;
  z-index: 2;
}
.read-more .read-more-icon:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  z-index: 1;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #ffffff !important;
}

p {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}

*:focus {
  outline: none;
}

a:focus, button:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.w-75 {
  width: 95% !important;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .w-75 {
    width: 90% !important;
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.form-box label {
  position: absolute;
  height: 100px;
  left: 16px;
  width: 400px;
  color: #21304A;
  top: 23px;
  z-index: -1;
  transition-duration: 0.2s;
  transition-property: transform;
}
.form-box textarea + label {
  top: 0px;
}
.form-box input, .form-box textarea {
  border: none;
  padding: 40px 0px 20px 0px;
  color: #21304A;
  background: transparent;
  outline: none;
  height: 30px;
  width: 100%;
  transition-property: transform;
  border-bottom: 2px solid #cccccc;
}
.form-box input:focus + label, .form-box textarea:focus + label {
  transform: translateY(-45px) translateX(-80px) scale(0.6);
}
.form-box input:valid + label {
  transform: translateY(-45px) translateX(-80px) scale(0.6);
}
.form-box input:valid + label::after, .form-box textarea:valid + label::after {
  display: block;
  transform: translateX(-10px) rotate(-45deg);
}
.form-box input:invalid + label::after, .form-box textarea:invalid + label::after {
  transform: translateX(100px) rotate(-45deg);
}

.read-more {
  display: block;
}
@media (max-width: 992px) {
  .read-more {
    display: none;
  }
}
.read-more.mobile {
  display: none;
}
@media (max-width: 992px) {
  .read-more.mobile {
    display: block;
  }
}

button {
  padding: 20px;
  border-radius: 50px;
  background: #21304A;
  color: #ffffff;
  border: 0;
  vertical-align: middle;
  margin-top: 15px;
}
button i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50px;
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
}
button i img {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

header {
  position: fixed;
  height: 100px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: #ffffff !important;
}
@media (max-width: 992px) {
  header {
    height: 66px;
  }
  header nav .navbar-brand {
   width: 155px !important;
  }
  header nav .navbar-brand svg {
      width: 120px !important;
  }
}
header .navbar-nav {
  margin-left: auto;
}
header nav {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  header nav {
    width: 95%;
  }
}
@media (max-width: 992px) {
  header nav.navbar {
    flex-wrap: nowrap;
  }
}
@media (max-width: 992px) {
  header nav .navbar-toggler {
    display: block;
    line-height: 0px;
    margin-top: 0;
  }
  header nav .navbar-toggler span {
    display: block;
    width: 20px;
    height: 2px;
    background: #cccccc;
    margin-bottom: 5px;
  }
}
header nav .navbar-brand {
  width: 220px;
}
header nav .navbar-brand img {
  width: 100%;
}
header nav .nav-menu {
  padding-left: 50px;
}
@media (max-width: 992px) {
  header nav .nav-menu {
    padding-left: 0;
    position: absolute;
    top: 65px;
    width: 106%;
    height: auto;
    left: -10px;
    text-align: center;
    right: 0;
    background: #ffffff;
  }
}
@media (max-width: 992px) {
  header nav .nav-menu .form-inline .navbar-nav .nav-item:last-child {
    display: none;
  }
}
@media (max-width: 992px) {
  header nav .nav-menu .navbar-nav {
    flex-direction: initial;
    position: relative;
    display: block;
  }
}
header nav .nav-menu .nav-item {
  padding: 0 10px;
}
@media (max-width: 992px) {
  header nav .nav-menu .nav-item {
    padding: 0 3px;
  }
}
header nav .nav-menu .nav-item .dropdown-toggle::after {
  display: none;
}
header nav .nav-menu .nav-item .dropdown-menu {
  left: -82px;
  padding-top: 25px;
  background: transparent;
  border: 0;
}
@media (max-width: 992px) {
  header nav .nav-menu .nav-item .dropdown-menu {
    position: relative !important;
    text-align: center;
  }
}
@media (max-width: 768px) {
  header nav .nav-menu .nav-item .dropdown-menu {
    left: 0;
    right: 0;
    padding-top: 5px;
  }
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu {
  background: #ffffff;
  display: block;
  width: 100%;
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  overflow: visible;
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu .dropdown-item {
  padding: 0;
  position: relative;
  border-radius: 5px;
  background: #ffffff;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu .dropdown-item ul {
  position: absolute;
  top: 0;
  min-width: 10rem;
  right: -10rem;
  display: none;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu .dropdown-item ul li {
  background: #ffffff;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu .dropdown-item ul li a {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu .dropdown-item ul li:hover a {
  background: #ffa516;
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu .dropdown-item:hover {
  background: #ffa516;
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu .dropdown-item:hover ul {
  display: block;
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu a {
  display: block;
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #21304A;
  padding: 1rem 1.5rem;
}
header nav .nav-menu .nav-item .dropdown-menu .dd-menu:after {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ffffff;
}
header nav .nav-menu .nav-item:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
header nav .nav-menu .nav-item .nav-link {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #21304A;
  padding: 5px 20px;
  position: relative;
}
@media (max-width: 768px) {
  header nav .nav-menu .nav-item .nav-link {
    padding: 5px 5px;
  }
}
header nav .nav-menu .nav-item .nav-link:after {
  opacity: 0;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100px;
  background: #21304A;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
header nav .nav-menu .nav-item .nav-link:hover:after {
  opacity: 1;
}
header nav .nav-menu .nav-item .nav-link .hb-icon {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 5px;
  background: #21304A;
}
header nav .nav-menu .nav-item .nav-link .hb-icon:nth-child(2) {
  width: 18px;
  margin-right: 0;
  margin-left: auto;
}

section.banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  top: 98px;
}
@media (max-width: 992px) {
  section.banner {
    height: auto;
  }
}
section.banner .banner-slider .item {
  height: auto;
}
section.banner .banner-slider .item .img-box {
  position: relative;
  display: block;
  justify-content: center;
  background-color: #fff2dd;
}
section.banner .banner-slider .item .img-box img {
  width: 100%;
  height: inherit !important;
}
@media (max-width: 992px) {
  section.banner .banner-slider .item {
    height: auto;
  }
  section.banner .banner-slider .item .img-box img {
    width: 100%;
    height: auto;
  }
  section.banner .banner-slider .item .img-box {
    position: relative;
  }
  section.banner {
    top: 0;
    margin-top: 75px;
  }
  section.banner .banner-slider .item .text-area {
    top: 15% !important;
  }
}
section.banner .banner-slider .item .text-area {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 34%;
  left: 0;
}
section.banner .banner-slider .item .text-area h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 74px;
  color: #ffffff;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 30px;
  text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2588235294);
}
@media (max-width: 992px) {
  section.banner .banner-slider .item .text-area h2 {
    font-size: 1.875rem;
    line-height: 34px;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 992px) {
  section.banner .banner-slider .item .text-area h2 {
    font-size: 1.85rem;
    line-height: 44px;
  }
}
@media (max-width: 992px) {
  section.banner .banner-slider .item .text-area h2 {
    font-size: 1.25rem;
    line-height: 24px;
  }
}
section.banner .banner-slider .item .text-area h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 2px;
  background: #ffffff;
}
section.banner .banner-slider .item .text-area a {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  margin-top: 10px;
  display: inline-block;
}
section.banner .banner-slider .item .text-area a .read-more-icon {
  display: inline-block;
  width: 27px;
  height: 5px;
  position: relative;
}
section.banner .banner-slider .item .text-area a .read-more-icon:before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/next-btn.svg) no-repeat 0 0;
  background-size: 26px;
  width: 27px;
  height: 5px;
  z-index: 2;
}
section.banner .banner-slider .item .text-area a .read-more-icon:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  z-index: 1;
  background: #ffffff;
}
section.banner .banner-slider .item .text-area a span {
  left: 15px;
}
section.banner .slick-dots {
  position: absolute;
  top: 90%;
  list-style: none;
  margin: 0 auto;
  right: 0;
  left: 0;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  section.banner .slick-dots {
    top: 70%;
  }
}
section.banner .slick-dots li button {
  font-size: 0;
  padding: 5px 5px;
  margin-right: 5px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
}
section.banner .slick-dots li.slick-active button {
  padding: 5px 15px;
}

section.about {
  overflow: hidden;
}
section.about.mobile {
  display: none;
}
@media (max-width: 992px) {
  section.about.mobile {
    display: block;
  }
}
section.about .container-fluid {
  width: 80%;
  padding-top: 135px;
}
@media (max-width: 992px) {
  section.about .container-fluid {
    width: 100%;
    padding-top: 50px;
  }
}
section.about .container-fluid .tab-left-title {
  display: block;
  margin-bottom: 50px;
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #20204A;
}
@media (max-width: 992px) {
  section.about .container-fluid .tab-left-title {
    margin-bottom: 10px;
  }
}
section.about .slider-box {
  position: relative;
  right: 0;
  width: calc(100% + 20%);
  margin-top: 30px;
}
@media (max-width: 992px) {
  section.about .slider-box {
    width: 100%;
  }
}
section.about .slider-box .item {
  padding-right: 10px;
}
section.about .slider-box img {
  width: 100%;
  border-radius: 3px;
}
section.about .about-tab {
  display: block;
}
@media (max-width: 768px) {
  section.about .about-tab {
    display: flex;
    width: 580px;
  }
}
section.about .about-tab li a {
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 54px;
  color: #D7DFED;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  section.about .about-tab li a {
    font-size: 1.625rem;
    line-height: 30px;
  }
}
@media (max-width: 992px) {
  section.about .about-tab li a {
    font-size: 1.75rem;
  }
}
section.about .about-tab li a:after {
  content: "";
  width: 0;
  height: 10px;
  position: absolute;
  left: -10px;
  bottom: 15px;
  z-index: -1;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  background: #FFA516;
}
@media (max-width: 992px) {
  section.about .about-tab li a:after {
    bottom: 7px;
  }
}
section.about .about-tab li a.active {
  color: #21304A;
}
section.about .about-tab li a.active:after {
  width: 140px;
}
@media (max-width: 992px) {
  section.about .left-box {
    overflow: auto;
  }
  section.about .left-box .read-more {
    display: none !important;
  }
}
section.about .left-box .read-more-icon {
  display: inline-block;
  width: 27px;
  height: 5px;
  position: relative;
}
section.about .left-box .read-more-icon:before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/next-btn.svg) no-repeat 0 0;
  background-size: 26px;
  width: 27px;
  height: 5px;
  z-index: 2;
}
section.about .left-box .read-more-icon:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  z-index: 1;
  background: #D7DFED;
}
section.about .left-box .read-more {
  display: block;
  margin-top: 30px;
  color: #20204A;
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}
section.about .left-box .read-more span {
  margin-left: 10px;
}
section.about .right-box .tab-pane {
  padding: 50px;
  padding: 40px 15px 50px 15px;
}
@media (max-width: 992px) {
  section.about .right-box .tab-pane {
    padding: 10px 20px 50px 20px;
  }
}
section.about .right-box .tab-pane p {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #20204A;
}
section.about .right-box .tab-pane .pad-20 {
  padding: 0 10px;
}
section.about .right-box .tab-pane .ab-img1 {
  width: 440px;
  position: relative;
  margin-top: 10px;
}
@media (max-width: 992px) {
  section.about .right-box .tab-pane .ab-img1 {
    width: 100%;
    left: 0;
  }
}
section.about .img-box {
  position: relative;
}
section.about .img-box .img-bg {
  position: absolute;
  bottom: -80px;
  left: 220px;
  z-index: -1;
}
section.about .img-box .img-bg img {
  width: 210px;
}

section.prodect-slider {
  position: relative;
}
@media (max-width: 992px) {
  section.prodect-slider {
    padding-top: 150px;
  }
}
@media (max-width: 768px) {
  section.prodect-slider {
    padding-top: 90px;
  }
}
section.prodect-slider .container-fluid {
  width: 90%;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
@media (max-width: 992px) {
  section.prodect-slider .container-fluid {
    padding-top: 0;
    margin: 0 auto 0 auto;
  }
}
@media (max-width: 992px) {
  section.prodect-slider .container-fluid .box-1 {
    display: none;
  }
}
section.prodect-slider .container-fluid .box-1, section.prodect-slider .container-fluid .box-2 {
  width: 20%;
}
section.prodect-slider .container-fluid .box-3 {
  width: 60%;
}
@media (max-width: 1024px) {
  section.prodect-slider .container-fluid .box-3 {
    width: 50%;
  }
}
@media (max-width: 992px) {
  section.prodect-slider .container-fluid .box-3 {
    width: 100%;
  }
}
section.prodect-slider .container-fluid .box-3 .slider-txt {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  width: 60%;
  margin-top: 30px;
  color: #A6ACB7;
}
@media (max-width: 992px) {
  section.prodect-slider .container-fluid .box-3 .slider-txt {
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  section.prodect-slider .container-fluid .box-3 .slider-txt {
    width: 100%;
  }
}
section.prodect-slider .container-fluid .box-1 h1, section.prodect-slider .container-fluid .box-2 h1, section.prodect-slider .container-fluid .box-3 h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 54px;
  color: #21304A;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  section.prodect-slider .container-fluid .box-1 h1, section.prodect-slider .container-fluid .box-2 h1, section.prodect-slider .container-fluid .box-3 h1 {
    font-size: 1.625rem;
    line-height: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1366px) {
  section.prodect-slider .container-fluid .box-1 h1, section.prodect-slider .container-fluid .box-2 h1, section.prodect-slider .container-fluid .box-3 h1 {
    font-size: 2rem;
    line-height: 36px;
  }
}
@media (max-width: 992px) {
  section.prodect-slider .container-fluid .box-1 h1, section.prodect-slider .container-fluid .box-2 h1, section.prodect-slider .container-fluid .box-3 h1 {
    position: absolute;
    border-top: 0;
    top: 0;
    left: 10%;
  }
}
section.prodect-slider .container-fluid .box-1 .item p, section.prodect-slider .container-fluid .box-2 .item p, section.prodect-slider .container-fluid .box-3 .item p {
  font-family: "Conv_Maax";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22px;
  color: #20204A;
  margin: 10px 0 5px 0;
  padding: 0 15px 0 0;
}
section.prodect-slider .container-fluid .box-1 .item span, section.prodect-slider .container-fluid .box-2 .item span, section.prodect-slider .container-fluid .box-3 .item span {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #20204A;
  margin: 0;
  padding: 0;
  display: block;
}
section.prodect-slider .container-fluid .box-2 {
  position: relative;
  top: -70px;
}
@media (max-width: 992px) {
  section.prodect-slider .container-fluid .box-2 {
    position: inherit;
    width: 0;
  }
  section.prodect-slider .container-fluid .box-2 .img-box {
    display: none;
  }
}
section.prodect-slider .container-fluid .box-2 .img-box {
  width: 210px;
  height: 350px;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1366px) {
  section.prodect-slider .container-fluid .box-2 .img-box {
    width: 185px;
    height: 315px;
  }
}
section.prodect-slider .container-fluid .box-2 .img-box img {
  width: 100%;
}
section.prodect-slider .container-fluid .box-1 a, section.prodect-slider .container-fluid .box-3 a {
  display: block;
}
section.prodect-slider .container-fluid .box-1 a .img-box, section.prodect-slider .container-fluid .box-3 a .img-box {
  width: 210px;
  height: 210px;
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  background: #fff2dd;
}
@media (min-width: 992px) and (max-width: 1366px) {
  section.prodect-slider .container-fluid .box-1 a .img-box, section.prodect-slider .container-fluid .box-3 a .img-box {
    width: 185px;
    height: 185px;
  }
}
@media (max-width: 992px) {
  section.prodect-slider .container-fluid .box-1 a .img-box, section.prodect-slider .container-fluid .box-3 a .img-box {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 480px) {
    section.prodect-slider .container-fluid .item {
        height: inherit !important;
    }
  section.prodect-slider .container-fluid .box-1 a .img-box, section.prodect-slider .container-fluid .box-3 a .img-box {
    width: 100%;
    height: inherit !important;
  }
  section.prodect-slider .container-fluid .box-3 a .img-box {
      position: relative;
      padding-top: 100%;
  }
    section.prodect-slider .container-fluid .box-3 a .img-box img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
  section.prodect-slider .container-fluid .box-1 a .img-box img, section.prodect-slider .container-fluid .box-3 a .img-box img {
      width: 100% !important;
      height: initial !important;
    }
}
section.prodect-slider .container-fluid .box-1 a .img-box img, section.prodect-slider .container-fluid .box-3 a .img-box img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}
section.prodect-slider .container-fluid .box-1 .slick-arrow, section.prodect-slider .container-fluid .box-3 .slick-arrow {
  width: 30px;
  height: 8px;
  position: absolute;
  bottom: -23px;
  padding: 0;
  font-size: 0;
}
section.prodect-slider .container-fluid .box-1 .slick-arrow.slick-prev, section.prodect-slider .container-fluid .box-3 .slick-arrow.slick-prev {
  position: absolute;
  left: 0;
  background: url(../images/i-prv.svg) no-repeat 0 0;
  background-size: 100%;
}
section.prodect-slider .container-fluid .box-1 .slick-arrow.slick-next, section.prodect-slider .container-fluid .box-3 .slick-arrow.slick-next {
  position: absolute;
  right: 0;
  background: url(../images/i-next.svg) no-repeat 0 0;
  background-size: 100%;
}

section.bottom-text {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  section.bottom-text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
section.bottom-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 54px;
  color: #FFA516;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 992px) {
  section.bottom-text h2 {
    font-size: 1.625rem;
    line-height: 30px;
  }
}
@media (max-width: 992px) {
  section.bottom-text h2 {
    width: 80%;
    font-size: 1.75rem;
    line-height: 32px;
  }
}

.bottom-svg {
  position: relative;
  width: 304px;
  margin: 0 auto -150px auto;
  z-index: -1;
}
.bottom-svg svg {
  width: 100%;
}

footer {
  padding: 100px 0 0 0;
  background: #21304A;
}
footer .container-fluid {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
footer .container-fluid p, footer .container-fluid a {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}
footer .container-fluid p {
  margin-bottom: 25px;
  color: #FFA516;
}
footer .container-fluid a {
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
  text-decoration: none;
  color: #D7DFED;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
footer .container-fluid a:hover {
  color: #FFA516;
}
footer .container-fluid .ft-whatsapp {
  position: absolute;
  left: -140px;
  top: -160px;
}
.enq-btns button, .enq-btns a {
    display: flex;
    background: #25d366;
    padding: 20px;
    border-radius: 50px;
    color: #ffffff;
    border: 0;
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 0px !important;
   
}
 .enq-btns a img {
     width: 30px;
     margin-left: 15px;
 }
@media (max-width: 768px) {
  footer .container-fluid .ft-whatsapp {
    left: 0;
  }
}
footer .container-fluid .ft-whatsapp svg {
  width: 100px;
}
@media (max-width: 768px) {
  footer .container-fluid .ft-whatsapp svg {
    width: 60px;
  }
}
footer .ft-cprt {
  font-family: "Conv_Maax";
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 14px;
  color: #FFA516;
  padding: 70px 0;
}
@media (max-width: 992px) {
  footer .ft-cprt {
    padding: 20px 0 0 60px;
    background: url(../images/vm-icon.svg) no-repeat left 25px;
    background-size: 40px;
    background-repeat: no-repeat;
  }
}
footer .logo-footer {
  width: 55px;
  margin-top: 50px;
}
@media (max-width: 992px) {
  footer .logo-footer {
    display: none;
  }
}

section.inner-banner {
  width: 100%;
  position: relative;
  margin-top: 100px;
}
@media (max-width: 992px) {
  section.inner-banner {
    margin-top: 77px;
  }
}
section.inner-banner .img-box img {
  width: 100%;
}
section.inner-banner .text-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
section.inner-banner .text-box h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 54px;
  color: #ffffff;
  text-align: center;
}
.category-link {
    width: 220px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
    background: #21304A;
    color: #ffffff;
}
.category-link:hover {
    color: #ffffff;
}
@media (max-width: 992px) {
  section.inner-banner .text-box h2 {
    font-size: 1.625rem;
    line-height: 30px;
  }
}

section.inner-head {
  padding-top: 60px;
}
section.inner-head > .container-fluid > .row {
    align-items: center;
}
section.inner-head > .container-fluid > .row .right-box p {
    margin-bottom: 0px;   
}
@media (max-width: 992px) {
  section.inner-head {
    padding-top: 30px;
  }
}
section.inner-head .container-fluid {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  section.inner-head .container-fluid {
    width: 100%;
  }
}
section.inner-head .container-fluid h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 74px;
  color: #20204A;
}
@media (max-width: 992px) {
  section.inner-head .container-fluid h2 {
    font-size: 1.875rem;
    line-height: 34px;
  }
}
@media (max-width: 992px) {
  section.inner-head .container-fluid h2 {
    margin-bottom: 30px;
  }
}
section.inner-head .container-fluid .read-more {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #20204A;
}
section.inner-head .container-fluid .read-more .read-more-icon {
  display: inline-block;
  width: 27px;
  height: 5px;
  position: relative;
}
section.inner-head .container-fluid .read-more .read-more-icon:before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/next-btn.svg) no-repeat 0 0;
  background-size: 26px;
  width: 27px;
  height: 5px;
  z-index: 2;
}
section.inner-head .container-fluid .read-more .read-more-icon:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  z-index: 1;
  background: #FFA516;
}
section.inner-head .container-fluid .right-box p {
  width: 90%;
  color: #20204A;
}
@media (max-width: 992px) {
  section.inner-head .container-fluid .right-box p {
    width: 90%;
  }
}

section.product-list {
  padding-top: 60px;
}
@media (max-width: 992px) {
  section.product-list {
    padding-top: 20px;
  }
}
section.product-list .container-fluid {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  section.product-list .container-fluid {
    width: 90%;
  }
}
section.product-list .container-fluid .product-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
section.product-list .container-fluid .product-box .item {
  width: 25%;
  padding-right: 20px;
  margin-bottom: 40px;
}
section.product-list .container-fluid .product-box .item a {
    position: relative;
    display: block;
    overflow: hidden;
}
@media (max-width: 768px) {
  section.product-list .container-fluid .product-box .item {
    width: 50%;
  }
}
section.product-list .container-fluid .product-box .item .img-box {
  position: relative;
  padding-top: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: #fff2dd;
}
@media (max-width: 992px) {
  section.product-list .container-fluid .product-box .item .img-box {
    height: 135px;
  }
}
section.product-list .container-fluid .product-box .item .img-box img {
  width: auto;
  height: 100%;
  top: 0;
  position: absolute;
}
section.product-list .container-fluid .product-box .item .text-area p {
  font-family: "Conv_Maax";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22px;
  color: #21304A;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 0;
  height: 44px;
  overflow: hidden;
}
@media (max-width: 992px) {
  section.product-list .container-fluid .product-box .item .text-area p {
    margin-top: 10px;
  }
}
section.product-list .container-fluid .product-box .item .text-area span {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #21304A;
  display: block;
}

section.product-d-main {
  position: relative;
  margin-bottom: 20px;
  margin-top: 100px;
}
section.product-d-main .container-fluid {
  width: 90%;
}
section.product-d-main .container-fluid.pd-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  section.product-d-main .container-fluid.pd-box {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  section.product-d-main {
    margin-top: 70px;
  }
}
section.product-d-main .container-fluid.pd-box .left-area {
  width: 40%;
  padding-top: 50px;
  position: relative;
}
section.product-d-main .container-fluid.pd-box .right-area .svg-animation{
  position: absolute;
  right: -130px;
  top: 70px;
  z-index: -1;
}
@media (max-width: 992px) {
  section.product-d-main .container-fluid.pd-box .left-area {
    width: 100%;
    padding-top: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1366px) {
  section.product-d-main .container-fluid.pd-box .left-area {
    padding-top: 50px;
  }
}
section.product-d-main .container-fluid.pd-box .left-area h1 {
  font-family: "Playfair Display", serif;
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 74px;
  color: #21304A;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  section.product-d-main .container-fluid.pd-box .left-area h1 {
    font-size: 1.875rem;
    line-height: 34px;
  }
}
section.product-d-main .container-fluid.pd-box .left-area .sub-text {
  display: block;
  font-family: "Conv_Maax";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #21304A;
  margin-bottom: 30px;
}
section.product-d-main .container-fluid.pd-box .left-area .sub-para {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #cccccc;
  margin-bottom: 30px;
}
section.product-d-main .container-fluid.pd-box .left-area .pd-info {
  width: 8 0%;
}
section.product-d-main .container-fluid.pd-box .left-area .pd-info ul {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #D7DFED;
  border-bottom: 1px solid #D7DFED;
}
section.product-d-main .container-fluid.pd-box .left-area .pd-info ul li {
  list-style: none;
  width: 33.3333%;
  padding: 10px 0;
  margin-right: 20px;
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #21304A;
  border-right: 1px solid #D7DFED;
}
section.product-d-main .container-fluid.pd-box .left-area .pd-info ul li span {
  font-family: "Conv_Maax";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #cccccc;
  display: block;
}
section.product-d-main .container-fluid.pd-box .left-area .pd-info ul li:last-child {
  margin-right: 0;
  border-right: 0px solid #D7DFED;
}
section.product-d-main .container-fluid.pd-box .left-area .pd-info .yellow-color {
  color: #FFA516;
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}
section.product-d-main .container-fluid.pd-box .right-area {
  width: 46%;
  height: auto;
  position: relative;
}
section.product-d-main .container-fluid.pd-box .right-area .pd-slider {
  border: 1px solid #cccccc;
  margin-bottom: 5px;
}
section.product-d-main .container-fluid.pd-box .right-area .pd-slider-nav .item {
  margin-right: 5px;
}

.pd-slider-nav .slick-arrow {
  width: 30px;
  height: 8px;
  position: absolute;
  bottom: -23px;
  padding: 0;
  font-size: 0;
}
.pd-slider-nav .slick-arrow.slick-prev {
  position: absolute;
  left: 0;
  background: url(../images/i-prv.svg) no-repeat 0 0;
  background-size: 100%;
}
.pd-slider-nav .slick-arrow.slick-next {
  position: absolute;
  right: 0;
  background: url(../images/i-next.svg) no-repeat 0 0;
  background-size: 100%;
}
section.product-d-main .container-fluid.pd-box .right-area .pd-slider-nav .slick-track {
  margin-left: 0;
}
@media (max-width: 992px) {
  section.product-d-main .container-fluid.pd-box .right-area {
    width: 100%;
    height: auto;
  }
}
section.product-d-main .container-fluid.pd-box .right-area .pd-slider-nav .item img {
  width: 100%;
}
section.product-d-main .container-fluid.pd-box .right-area .slider-out-side {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 39px;
}
@media (max-width: 992px) {
  section.product-d-main .container-fluid.pd-box .right-area .slider-out-side {
    height: auto;
  }
}
@media (max-width: 992px) {
  section.product-d-main .container-fluid.pd-box .right-area .slider-out-side {
    width: calc(100% + 20%);
    position: relative;
    margin-left: -10%;
  }
}
section.product-d-main .container-fluid.pd-box .right-area .slider-out-side .pd-slider .item img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
section.product-d-main .container-fluid.pd-box .right-area .slider-out-side .pd-slider .video-box .video-icon {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.product-d-main .container-fluid.pd-box .right-area .slider-out-side .pd-slider .video-box .video-icon img {
    width: 150px;
    height: 150px;
}
@media (max-width: 992px) {
  section.product-d-main .container-fluid.pd-box .right-area .slider-out-side .pd-slider .item img {
    width: 100%;
    position: relative;
    left: 0;
    z-index: 9999;
    height: initial !important;
    -webkit-touch-callout: default;
  -webkit-user-select: default;
  -khtml-user-select: default;
  -moz-user-select: default;
  -ms-user-select: default;
  user-select: default;
  }
}
section.product-d-main .container-fluid.pd-box .right-area .slick-dots {
  position: absolute;
  top: 80vh;
  list-style: none;
  margin: 0 auto;
  right: 0;
  left: 0;
  text-align: center;
  padding: 0;
  display: none;
  justify-content: center;
}
@media (max-width: 992px) {
  section.product-d-main .container-fluid.pd-box .right-area .slick-dots {
    top: auto;
    bottom: 18px;
    display: none !important;
  }
}
section.product-d-main .container-fluid.pd-box .right-area .slick-dots li button {
  font-size: 0;
  padding: 5px 5px;
  margin-right: 5px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
}
section.product-d-main .container-fluid.pd-box .right-area .slick-dots li.slick-active button {
  padding: 5px 15px;
}
@media (max-width: 992px) {
  section.product-d-main .container-fluid.pd-box .right-area .svg-animation {
    width: 150px;
    position: absolute;
    top: 93%;
    left: inherit;
    z-index: -1;
    right: 0;
    overflow: hidden;
    display: none;
  }
}

section.bottom-txt {
  padding: 150px 0;
  position: relative;
}
section.bottom-txt .svg-box {
  width: 300px;
  margin: 0 auto;
}
section.bottom-txt .svg-box svg {
  width: 100%;
}
section.bottom-txt .text-box {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 44%;
}
section.bottom-txt .text-box h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 54px;
  color: #21304A;
}
@media (max-width: 992px) {
  section.bottom-txt .text-box h2 {
    font-size: 1.625rem;
    line-height: 30px;
  }
}

section.contact-area .container-fluid {
  width: 60%;
  margin: 0 auto;
  padding: 150px 0 0 0;
  display: flex;
}
@media (max-width: 1024px) {
  section.contact-area .container-fluid {
    width: 90%;
  }
}
@media (max-width: 992px) {
  section.contact-area .container-fluid {
    padding-top: 50px;
    display: block;
  }
  section.contact-area .container-fluid .left-area {
    width: 100%;
  }
  section.contact-area .container-fluid .right-area {
    width: 100%;
  }
}
section.contact-area .container-fluid h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 54px;
  color: #21304A;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  section.contact-area .container-fluid h2 {
    font-size: 1.625rem;
    line-height: 30px;
  }
}
section.contact-area .container-fluid .left-area {
  padding-right: 100px;
}
@media (max-width: 992px) {
  section.contact-area .container-fluid .left-area {
    padding-right: 0;
  }
}
section.contact-area .container-fluid .left-area form {
  padding-right: 100px;
  border-right: 1px solid #D7DFED;
}
@media (max-width: 992px) {
  section.contact-area .container-fluid .left-area form {
    padding-right: 0;
    border-right: 0;
  }
}
section.contact-area .container-fluid .left-area form .form-box {
  margin-bottom: 30px;
}
section.contact-area .container-fluid .left-area form .form-box input, section.contact-area .container-fluid .left-area form .form-box textarea {
  border-bottom: 1px solid #000000;
}
section.contact-area .container-fluid .left-area form textarea {
  min-height: 42px;
  max-height: 42px;
  overflow: hidden;
}
section.contact-area .container-fluid .right-area {
  padding-top: 80px;
  padding-left: 60px;
}
@media (max-width: 992px) {
  section.contact-area .container-fluid .right-area {
    padding-right: 0;
    padding-left: 0;
  }
}
section.contact-area .container-fluid .right-area ul li {
  padding-left: 40px;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-bottom: 40px;
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #21304A;
}
section.contact-area .container-fluid .right-area ul li.address {
  background: url(../images/location.svg) no-repeat;
}
section.contact-area .container-fluid .right-area ul li.email {
  background: url(../images/mail.svg) no-repeat;
}
section.contact-area .container-fluid .right-area ul li.number {
  background: url(../images/call.svg) no-repeat;
}
section.contact-area .container-fluid .right-area ul li a {
  color: #21304A;
  display: block;
}
section.contact-area .container-fluid .right-area .telephone {
  width: 150px;
  margin-bottom: 20px;
  position: relative;
  margin-top: -20px;
}

section.about-page {
  overflow: hidden;
}
@media (max-width: 992px) {
  section.about-page {
    padding-top: 50px;
  }
}
section.about-page .container-fluid {
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
}
@media (max-width: 992px) {
  section.about-page .container-fluid {
    padding-top: 0;
  }
  section.about-page .container-fluid .svg-box {
    display: none;
  }
}
section.about-page .container-fluid p {
  font-family: "Conv_Maax";
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #20204A;
}
section.about-page .container-fluid .box {
  border-bottom: 1px solid #D7DFED;
  padding-bottom: 30px;
  padding-top: 40px;
}
section.about-page .container-fluid .box:first-child {
  padding-top: 0;
}
section.about-page .container-fluid .box:last-child {
  border-bottom: 0;
}
section.about-page .container-fluid .slider-box {
  position: relative;
  right: 0;
  width: calc(100% + 20%);
  margin-top: 30px;
}
@media (max-width: 992px) {
  section.about-page .container-fluid .slider-box {
    width: 100%;
  }
}
section.about-page .container-fluid .slider-box .item {
  padding-right: 10px;
}
section.about-page .container-fluid .slider-box button {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin-top: 0 !important;
  position: relative;
}
section.about-page .container-fluid .slider-box button:after {
  content: "";
  position: absolute;
  width: 33px;
  height: 38px;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  background: url(../images/play-btn.svg) no-repeat;
  background-size: 100%;
  background-position: top center;
}
section.about-page .container-fluid .slider-box img {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}
section.about-page .container-fluid .ab-main {
  margin: 0 auto;
}
@media (max-width: 992px) {
  section.about-page .container-fluid .ab-main {
    display: none;
  }
}
section.about-page .container-fluid .ab-main h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 54px;
  padding-right: 30px;
  color: #21304A;
}
@media (max-width: 992px) {
  section.about-page .container-fluid .ab-main h1 {
    font-size: 1.625rem;
    line-height: 30px;
  }
}
section.about-page .container-fluid .ab-main .left-box {
  display: flex;
  justify-content: flex-end;
}
section.about-page .container-fluid .ab-main .right-box {
  padding-right: 30px;
}
section.about-page .container-fluid.about-2 {
  margin: 0 0 0 auto;
  padding-right: 0;
}
section.about-page .container-fluid.about-2 img {
  width: 100%;
}
@media (max-width: 992px) {
  section.about-page .container-fluid.about-2 {
    display: none;
  }
}
section.about-page .container-fluid.about-3 .title-box {
  width: 300px;
  position: relative;
  margin: 0 auto;
}
section.about-page .container-fluid.about-3 .title-box h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 54px;
  color: #21304A;
  position: absolute;
  width: 100%;
  top: 42%;
  z-index: 2;
  text-align: center;
  color: #21304A;
}
@media (max-width: 992px) {
  section.about-page .container-fluid.about-3 .title-box h2 {
    font-size: 1.625rem;
    line-height: 30px;
  }
}
section.about-page .container-fluid.about-3 .img-box {
  width: 90%;
  margin-top: 20px;
}
section.about-page .container-fluid.about-3 .img-box img {
  width: 100%;
}
section.about-page .container-fluid.about-3 .img-box button {
  border-radius: 0;
  padding: 0;
}
@media (max-width: 992px) {
  section.about-page .container-fluid.about-3 {
    display: none;
  }
}

.video .close {
  position: absolute;
  top: -15px;
  right: 4px;
  z-index: 99;
}

.contact-form h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 54px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .contact-form h2 {
    font-size: 1.625rem;
    line-height: 30px;
  }
}
.contact-form .modal-dialog {
  max-width: 650px;
}
@media (max-width: 992px) {
  .contact-form .modal-dialog {
    max-width: 80%;
  }
}
.contact-form .modal-dialog .modal-content {
  padding: 50px;
}
.contact-form .modal-dialog .modal-content .form-box {
  margin-bottom: 50px;
}
.contact-form .modal-dialog .modal-content .form-box input, .contact-form .modal-dialog .modal-content .form-box textarea {
  position: relative;
  z-index: 2;
}
.contact-form .modal-dialog .modal-content .form-box label {
  z-index: 1 !important;
}
.video .modal-dialog {
    max-width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

