section.banner {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    top: 75px;
    @include tab2 {
        height: 70vh;
    }
    .banner-slider {
        .item {
            height: 90vh;
            .img-box {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                background-color: #fff2dd;
                // bottom: 90%;
                img {
                    width: auto;
                    height: 100%;
                    @include tab2 {
                        width: auto;
                        height: 100%;
                    }
                }
            }
            .text-area {
                width: 80%;
                margin: 0 auto;
                position: absolute;
                right: 0;
                top: 45%;
                left: 0;
                h2 {
                    @include primary-font70;
                    color: #ffffff;
                    position: relative;
                    padding-bottom: 40px;
                    margin-bottom: 30px;
                    text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25882352941176473);
                    @include tab2 {
                        font-size: $font40;
                        line-height: 44px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 80px;
                        height: 2px;
                        background: #ffffff;
                    }
                }
                a {
                    @include secondary-font14;
                    color: #20304A;
                    margin-top: 10px;
                    display: inline-block;
                    @include read-more {
                        background: #ffffff;
                    }
                    span {
                        left: 15px;
                    }
                }
            }
        }
    }
    .slick-dots {
        position: absolute;
        top: 90%;
        list-style: none;
        margin: 0 auto;
        right: 0;
        left: 0;
        text-align: center;
        padding: 0;
        display: flex;
        justify-content: center;
        @include tab2 {
            top: 70%;
        }
        li {
            button {
                font-size: 0;
                padding: 5px 5px;
                margin-right: 5px;
                background: #ffffff;
                border: none;
                border-radius: 50px;
            }
            &.slick-active {
                button {
                    padding: 5px 15px;
                }
            }
        }
    }
}