header {
    position: fixed;
    height: 78px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background: #ffffff;
    @include tab2 {
        height: 66px;
    }
    .navbar-nav {
        margin-left: auto;
    }
    // &:after {
    //     content: "";
    //     position: absolute;
    //     z-index: -1;
    //     width: 50%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     background: #ffffff;
    //     @include tab2 { 
    //         width: 100%; 
    //     }
    // }
    nav {
        width: 90%;
        margin: 0 auto;
        @include tab2 {
            width: 95%;
        }
        &.navbar {
            @include tab2 {
                flex-wrap: nowrap;
            }
        }
        
        .navbar-toggler {
            @include tab2 {
                display: block;
                line-height: 0px;
                margin-top: 0;
                span {
                    display: block;
                    width: 20px;
                    height: 2px;
                    background: #cccccc;
                    margin-bottom: 5px;
                }
            }
        }
        .navbar-brand {
            width: 160px;
            img {
                width: 100%;
            }
        }
        .nav-menu {
            padding-left: 50px;
            @include tab2 {
                padding-left: 0;
                position: absolute;
                top: 65px;
                width: 106%;
                height: auto;
                left: -10px;
                text-align: center;
                right: 0;
                background: #ffffff;
            }
            .form-inline {
                .navbar-nav {
                    @include tab2 {
                        .nav-item {
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
            }
            .navbar-nav {
                @include tab2 {
                    flex-direction: initial;
                    position: relative;
                    display: block;
                }
            }
            .nav-item {
                padding: 0 10px;
                @include tab2 {
                    padding: 0 3px;
                }
                // &:last-child {
                //     padding: 0;
                // }
                .dropdown-toggle {
                    &::after {
                        display: none;;
                    }
                }
                .dropdown-menu {
                    left: -82px;
                    padding-top: 25px;
                    background: transparent;
                    border: 0;
                    @include tab2 {
                        position: relative !important;
                        text-align: center;
                    }
                    @include mobile {
                        left: 0;
                        right: 0;
                        padding-top: 5px;
                    }
                    .dd-menu {
                        background: #ffffff;
                        display: block;
                        width: 100%;
                        box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.16);
                        border: 0;
                        border-radius: 5px;
                        overflow: visible;
                        .dropdown-item {
                            padding: 0;
                            position: relative;
                            border-radius: 5px;
                            background: #ffffff;
                            @include transition;
                            ul {
                                position: absolute;
                                top: 0;
                                min-width: 10rem;
                                right: -10rem;
                                display: none;
                                background: #ffffff;
                                border-radius: 5px;
                                overflow: hidden;
                                li {
                                    background: #ffffff;
                                    @include transition;
                                    a {
                                        @include transition;
                                    }
                                    &:hover {
                                        a {
                                            background: #ffa516;
                                        }
                                    }
                                }
                            }
                            &:hover {
                                background: #ffa516;
                                ul {
                                    display: block;
                                }
                            }
                        }
                        a {
                            display: block;
                            @include secondary-font14;
                            color: $p-color;
                            padding: 1rem 1.5rem;
                        }
                        &:after {
                            content: "";
                            display: none;
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            top: -8px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            background: #ffffff;
                        }
                    }
                }
                &:hover {
                    .dropdown-menu {
                        display: block;
                        margin-top: 0;
                       
                     }
                } 
                .nav-link {
                    @include secondary-font14;
                    color: $p-color;
                    padding: 5px 20px;
                    position: relative;
                    @include mobile {
                        padding: 5px 5px;
                    }
                    &:after {
                        opacity: 0; 
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 100px;
                        background: $p-color;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        -webkit-transition: all 0.4s;

                    }
                    &:hover {
                        &:after {
                            opacity: 1;
                        }
                    }
                    .hb-icon {
                        display: block;
                        width: 22px;
                        height: 2px;
                        margin-bottom: 5px;
                        background: $p-color;
                        &:nth-child(2) {
                            width: 18px;
                            margin-right: 0;
                            margin-left: auto;
                        }
                    }
                }
            }  
        }
    }
} 