section.about {
    overflow: hidden;
    &.mobile {
        display: none;
        @include tab2 {
            display: block;
        }
    }
    .container-fluid {
        width: 80%;
        padding-top: 135px;
        @include tab2 {
            width: 100%;
            padding-top: 50px;
        }
        .tab-left-title {
            display: block;
            margin-bottom: 50px;
            @include secondary-font14;
            color: $s-color;
            @include tab2 {
                margin-bottom: 10px;
            }
        }
    }
    .slider-box {
        position: relative;
        right: 0;
        width: calc(100% + 20%);
        margin-top: 30px;
        @include tab2 {
            width: 100%;
        }
        .item {
            padding-right: 10px;
        }
        img {
            width: 100%;
            border-radius: 3px;
        }
    }
    .about-tab {
        display: block;
        @include mobile {
            display: flex;
            width: 580px;
        }
        li {
            a {
                display: block;
                @include primary-font50;
                color: #D7DFED;
                @include transition;
                position: relative;
                margin-bottom: 20px;
                @include tab2 {
                    font-size: $font28;
                }
                &:after {
                    content: "";
                    width: 0;
                    height: 10px;
                    position: absolute;
                    left: -10px;
                    bottom: 15px;
                    z-index: -1;
                    @include transition;
                    background: #FFA516;
                    @include tab2 {
                        bottom: 7px;
                    }
                }
                &.active {
                    color: $p-color;
                    &:after {
                        width: 140px;
                    }
                }
            }
        }
    }
    .left-box {
        @include tab2 {
            overflow: auto;
            .read-more {
                display: none !important;
            }
        }
        @include read-more {
            background: #D7DFED;
        }
        .read-more {
            display: block;
            margin-top: 30px;
            color: $s-color;
            @include secondary-font14;
            span {
                margin-left: 10px;
            }
        }
    }
    .right-box {
        .tab-pane {
            padding: 50px;
            padding: 40px 15px 50px 15px;
            @include tab2 {
                padding: 10px 20px 50px 20px;
            }
            p {
                @include secondary-font14;
                color: $s-color;
            }
            .pad-20 {
                padding: 0 10px;
            }
            .ab-img1 {
                width: 440px;
                position: relative;
                margin-top: 10px;
                @include tab2 {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    .img-box {
        position: relative;
        .img-bg {
            position: absolute;
            bottom: -80px;
            left: 220px;
            z-index: -1;
            img {
                width: 210px;
            }
        }
    }
}
section.prodect-slider {
    position: relative;
    @include tab2 {
        padding-top: 150px;
    }
    @include mobile {
        padding-top: 90px;
    }
    .container-fluid {
        width: 90%;
        margin: 0 0 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        @include tab2 {
            padding-top: 0;
            margin: 0 auto 0 auto;
        }
        .box-1 {
            @include tab2 {
                display: none;
            }
        }
        .box-1, .box-2 {
            width: 20%;
        }
        .box-3 {
            width: 60%;
            @include tab1 {
                width: 50%;
            }
            @include tab2 {
                width: 100%;
            }
            .slider-txt {
                @include secondary-font14;
                width: 60%;
                margin-top: 30px;
                color: #A6ACB7;
                @include tab2 {
                    margin-top: 60px;
                }
                @include mobile {
                    width: 100%;
                }
            }
        }
        .box-1, .box-2, .box-3 {
            .img-box {
                // padding-right: 80px;
            }
            h1 {
                @include primary-font50;
                color: $p-color;
                margin-bottom: 30px;
                @include min-md-screen {
                    font-size: $font32;
                    line-height: 36px;
                }
                @include tab2 {
                    position: absolute;
                    border-top: 0;
                    top: 0;
                    left: 10%;
                }
            }
            .item {
                p {
                    @include secondary-font18;
                    color: $s-color;
                    margin: 10px 0 5px 0;
                    padding: 0 15px 0 0;
                    
                }
                span {
                    @include secondary-font14;
                    color: $s-color;
                    margin: 0;
                    padding: 0;
                    display: block;
                }
            }
        }
        .box-2 {
            position: relative;
            top: -70px;
            @include tab2 {
                position: inherit;
                width: 0;
                .img-box {
                    display: none;
                }
            }
            .img-box {
                width: 210px;
                height: 350px;
                overflow: hidden;
                @include min-md-screen {
                    width: 185px;
                    height: 315px;
                }
                img {
                    width: 100%;
                }
            }
        }
        .box-1, .box-3 {
            a {
                display: block;
                .img-box {
                    width: 210px;
                    height: 170px;
                    overflow: hidden;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    background: #fff2dd;
                    @include min-md-screen {
                        width: 185px;
                        height: 135px;
                    }
                    @include tab2 {
                        width: 130px;
                        height: 130px;
                    }
                    @include mobile2 {
                        width: 100%;
                        height: 250px;
                    }
                    img {
                        width: auto;
                        height: 100%;
                        margin: 0 auto;
                    }
                }
                
                
            }
            .slick-arrow {
                width: 30px;
                height: 8px;
                position: absolute;
                bottom: -23px;
                padding: 0;
                font-size: 0;
                &.slick-prev {
                    position: absolute;
                    left: 0;
                    background: url(../images/i-prv.svg) no-repeat 0 0;
                    background-size: 100%;
                }
                &.slick-next {
                    position: absolute;
                    right: 0;
                    background: url(../images/i-next.svg) no-repeat 0 0;
                    background-size: 100%;
                }
            }
        }
    }
}
section.bottom-text {
    padding-top: 100px;
    padding-bottom: 100px;
    @include tab2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    h2 {
        @include primary-font50;
        color: #FFA516;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        @include tab2 {
            width: 80%;
            font-size: $font28;
            line-height: 32px;
        }
    }
}
.bottom-svg {
    position: relative;
    width: 304px;
    margin: 0 auto -150px auto;
    z-index: -1;
    svg {
        width: 100%;
    }
}
footer {
    padding: 100px 0 0 0;
    background: $p-color;
    .container-fluid {
        width: 70%;
        margin: 0 auto;
        position: relative;
        p, a {
            @include secondary-font14;
            color: #ffffff;
        }
        p {
            margin-bottom: 25px;
            color: #FFA516;
        }
        a {
            display: block;
            font-weight: 400;
            margin-bottom: 10px;
            text-decoration: none;
            color: #D7DFED;
            @include transition;
            &:hover {
                color: #FFA516;
            }
        }
        .ft-whatsapp {
            position: absolute;
            left: -140px;
            top: -160px;
            @include mobile {
                left: 0;
            }
            svg {
                width: 100px;
                @include mobile {
                    width: 60px;
                }
            }
        }
    }
    .ft-cprt {
        @include secondary-font10;
        color: #FFA516;
        padding: 70px 0;
        @include tab2 {
            padding: 20px 0 0 60px;
            background: url(../images/vm-icon.svg) no-repeat left 25px;
            background-size: 40px;
            background-repeat: no-repeat;
        }
    }
    .logo-footer {
        width: 55px;
        margin-top: 50px;
        @include tab2 {
            display: none;
        }
    }
}