section.inner-banner {
    width: 100%;
    position: relative;
    @include tab2 {
        margin-top: 77px;
    }
    .img-box {
        img {
            width: 100%;
        }
    }
    .text-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        h2 {
            @include primary-font50;
            color: #ffffff;
            text-align: center;
        }
    }
}
section.inner-head {
    padding-top: 60px;
    @include tab2 {
        padding-top: 30px;
    }
    .container-fluid {
        width: 80%;
        margin: 0 auto;
        @include tab2 {
            width: 100%;
        }
        h2 {
            @include primary-font70;
            color: $s-color;
            @include tab2 {
                margin-bottom: 30px;
            }
        }
        .read-more {
            @include secondary-font14;
            color: $s-color;
            @include read-more {
                background: #FFA516;
            }
        }
        .right-box {
            p {
                width: 90%;
                color: $s-color;
                @include tab2 {
                    width: 90%;
                }
            }
        }
    }
}
section.product-list {
    padding-top: 60px;
    @include tab2 {
        padding-top: 20px;
    }
    .container-fluid {
        width: 80%;
        margin: 0 auto;
        @include tab2 {
            width: 90%;
        }
        .product-box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .item {
                width: 20%;
                padding-right: 20px;
                margin-bottom: 40px;
                @include mobile {
                    width: 50%;
                }
                .img-box {
                    width: 100%;
                    height: 140px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    background: #fff2dd ;
                    @include tab2 {
                        height: 135px;
                    }
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
                .text-area {
                    p {
                        @include secondary-font18;
                        color: $p-color;
                        margin-top: 30px;
                        margin-bottom: 5px;
                        padding: 0;
                        height: 44px;
                        overflow: hidden;
                        @include tab2 {
                            margin-top: 10px;
                        }
                    }
                    span {
                        @include secondary-font14;
                        color: $p-color;
                        display: block;
                    }
                }
            }
        }
    }
}
section.product-d-main {
    position: relative;
    .container-fluid {
        width: 90%;
        &.pd-box {
            display: flex;
            justify-content: space-between;
            @include tab2 {
                flex-direction: column-reverse;
            }
            .left-area {
                width: 30%;
                padding-top: 220px;
                @include tab2 {
                    width: 100%;
                    padding-top: 40px;
                }
                @include min-md-screen {
                    padding-top: 120px;
                }
                h1 {
                    @include primary-font70;
                    color: $p-color;
                    margin-bottom: 30px;
                }
                .sub-text {
                    display: block;
                    @include secondary-font12;
                    color: $p-color;
                    margin-bottom: 30px;
                }
                .sub-para {
                    @include secondary-font14;
                    color: #cccccc;
                    margin-bottom: 30px;
                }
                .pd-info {
                    width: 8 0%;
                    ul {
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0;
                        border-top: 1px solid #D7DFED;
                        border-bottom: 1px solid #D7DFED;
                        li {
                            list-style: none;
                            width: 33.3333%;
                            padding: 10px 0;
                            margin-right: 20px;
                            @include secondary-font14;
                            color: $p-color;
                            border-right: 1px solid #D7DFED;
                            span {
                                @include secondary-font12;
                                color: #cccccc;
                                display: block;
                            }
                            &:last-child {
                                margin-right: 0;
                                border-right: 0px solid #D7DFED;
                            }
                        }
                    }
                    .yellow-color {
                        color: #FFA516;
                        @include secondary-font14;
                        margin-bottom: 20px;
                    }
                }
                button {
                }
            }
            .right-area {
                width: 50%;
                height: 90vh;
                @include tab2 {
                    width: 100%;
                    height: auto;
                }
                .slider-out-side {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 50%;
                    height: 100vh;
                    overflow: hidden;
                    @include tab2 {
                        height: 75vh;
                    }
                    @include tab2 {
                        width: calc(100% + 20%);
                        position: relative;
                        margin-left: -10%;
                    }
                    .pd-slider {
                        .item {
                            img {
                                width: 100%;
                                @include tab2 {
                                    width: 160%;
                                    position: relative;
                                    left: -70px;
                                }
                            }
                        }
                    }
                }
                .slick-dots {
                    position: absolute;
                    top: 80vh;
                    list-style: none;
                    margin: 0 auto;
                    right: 0;
                    left: 0;
                    text-align: center;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    @include tab2 {
                        top: 68vh;
                    }
                    li {
                        button {
                            font-size: 0;
                            padding: 5px 5px;
                            margin-right: 5px;
                            background: #ffffff;
                            border: none;
                            border-radius: 50px;
                        }
                        &.slick-active {
                            button {
                                padding: 5px 15px;
                            }
                        }
                    }
                }
                .svg-animation { 
                    position: relative;
                    top: 40%;
                    left: -160px;
                    z-index: -1;
                    @include tab2 {
                        width: 150px;
                        position: absolute;
                        top: 93%;
                        left: inherit;
                        z-index: -1;
                        right: 0;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
section.bottom-txt {
    padding: 150px 0;
    position: relative;
    .svg-box {
        width: 300px;
        margin: 0 auto;
        svg {
            width: 100%;
        }
    }
    .text-box {
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        top: 44%;
        h2 {
            text-align: center;
            @include primary-font50;
            color: $p-color;
        }
    }
}
section.contact-area {
    .container-fluid {
        width: 60%;
        margin: 0 auto;
        padding: 150px 0 0 0;
        display: flex;
        @include tab1 {
            width: 90%;
        }
        @include tab2 {
            padding-top: 50px;
            display: block;
            .left-area {
                width: 100%;
            }
            .right-area {
                width: 100%;
            }
        }
        h2 {
            @include primary-font50;
            color: $p-color;
            margin-bottom: 20px;
        }
        .left-area {
            padding-right: 100px;
            @include tab2 {
                padding-right: 0;
            }
            form {
                padding-right: 100px;
                border-right: 1px solid #D7DFED;
                @include tab2 {
                    padding-right: 0;
                    border-right: 0;
                }
                .form-box {
                    margin-bottom: 30px;
                    input, textarea {
                        border-bottom: 1px solid #000000;
                    }
                }
                textarea {
                    min-height: 42px;
                    max-height: 42px;
                    overflow: hidden;
                }
            }
        }
        .right-area {
            padding-top: 80px;
            padding-left: 60px;
            @include tab2 {
                padding-right: 0;
                padding-left: 0;
            }
            ul {
                li {
                    padding-left: 40px;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    margin-bottom: 40px;
                    @include secondary-font14;
                    color: $p-color;
                    &.address {
                        background: url(../images/location.svg)  no-repeat;
                    }
                    &.email {
                        background: url(../images/mail.svg)  no-repeat;
                    }
                    &.number {
                        background: url(../images/call.svg)  no-repeat;
                    }
                    a {
                        color: $p-color;
                        display: block;
                    }
                }
            }
            .telephone {
                width: 150px;
                margin-bottom: 20px;
                position: relative;
                margin-top: -20px;
            }

        }
    }
}

section.about-page {
    overflow: hidden;
    @include tab2 {
        padding-top: 50px;
    }
    .container-fluid {
        width: 90%;
        margin: 0 auto;
        padding-top: 80px;
        @include tab2 {
            padding-top: 0;
            .svg-box {
                display: none;
            }
        }
        p {
            @include secondary-font14;
            color: $s-color;
        }
        .box {
            border-bottom: 1px solid #D7DFED;
            padding-bottom: 30px;
            padding-top: 40px;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        .slider-box {
            position: relative;
            right: 0;
            width: calc(100% + 20%);
            margin-top: 30px;
            @include tab2 {
                width: 100%;
            }
            .item {
                padding-right: 10px;
            }
            button {
                padding: 0;
                border: 0;
                border-radius: 0;
                margin-top: 0 !important;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    width: 33px;
                    height: 38px;
                    top: 25%;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: 0 auto;
                    background: url(../images/play-btn.svg) no-repeat;
                    background-size: 100%;
                    background-position: top center;
                }
            }
            img {
                width: 100%;
                border-radius: 3px;
            }
        }
        .ab-main {
            margin: 0 auto;
            @include tab2 {
                display: none;
            }
            h1 {
                @include primary-font50;
                padding-right: 30px;
                color: $p-color;
            }
            .left-box {
                display: flex;
                justify-content: flex-end;
            }
            .right-box {
                padding-right: 30px;
            }
        }
        &.about-2 {
            margin:  0 0 0 auto;
            padding-right: 0;
            img {
                width: 100%;
            }
            @include tab2 {
                display: none;
            }
        }
        &.about-3 {
            .title-box {
                width: 300px;
                position: relative;
                margin: 0 auto;
                h2 {
                    @include primary-font50;
                    color: $p-color;
                    position: absolute;
                    width: 100%;
                    top: 42%;
                    z-index: 2;
                    text-align: center;
                    color: $p-color;
                }
            }
            .img-box {
                width: 90%;
                margin-top: 20px;
                img {
                    width: 100%;
                }
                button {
                    border-radius: 0;
                    padding: 0;
                }
            }
            
            @include tab2 {
                display: none;
            }
        }
    }
}
.video {
    .close {
        position: absolute;
        top: -15px;
        right: 4px;
        z-index: 99;
    }
}
.contact-form {
    h2 {
        @include primary-font50;
        margin-bottom: 20px;
    }
    .modal-dialog {
        max-width: 650px;
        @include tab2 {
            max-width: 80%;
        }
        .modal-content {
            padding: 50px;
            .form-box {
                margin-bottom: 50px;
                input, textarea {
                    position: relative;
                    z-index: 2;
                }
                label {
                    z-index: 1 !important;
                }
            }
        }
    }
}