@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap';
@font-face {
	font-family: 'Conv_Maax';
	src: url('../fonts/Maax.eot');
	src: local('☺'), url('../fonts/Maax.woff') format('woff'), url('../fonts/Maax.ttf') format('truetype'), url('../fonts/Maax.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Maax_black';
	src: url('../fonts/Maax-black.eot');
	src: local('☺'), url('../fonts/Maax-black.woff') format('woff'), url('../fonts/Maax-black.ttf') format('truetype'), url('../fonts/Maax-black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Maax_bold';
	src: url('../fonts/Maax bold.eot');
	src: local('☺'), url('../fonts/Maax-bold.woff') format('woff'), url('../fonts/Maax-bold.ttf') format('truetype'), url('../fonts/Maax-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Maax_medium';
	src: url('../fonts/Maax-medium.eot');
	src: local('☺'), url('../fonts/Maax-medium.woff') format('woff'), url('../fonts/Maax-medium.ttf') format('truetype'), url('../fonts/Maax-medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*font size start*/
$font10: 0.625rem;
$font11: 0.6875rem;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.9375rem;
$font16: 1rem;
$font17: 1.0625rem;
$font18: 1.125rem;
$font19: 1.1875rem;
$font20: 1.25rem;
$font21: 1.3125rem;
$font22: 1.375rem;
$font23: 1.4375rem;
$font24: 1.5rem;
$font25: 1.5625rem;
$font26: 1.625rem;
$font27: 1.6875rem;
$font28: 1.75rem;
$font29: 1.8125rem;
$font30: 1.875rem;
$font31: 1.9375rem;
$font32: 2rem;
$font33: 2.0625rem;
$font34: 2.125rem;
$font35: 2.1875rem;
$font36: 2.25rem;
$font37: 2.3125rem;
$font38: 2.375rem;
$font39: 2.4375rem;
$font40: 2.5rem;
$font41: 2.5625rem;
$font42: 2.625rem;
$font43: 2.6875rem;
$font44: 2.75rem;
$font45: 2.8125rem;
$font46: 2.875rem;
$font47: 2.9375rem;
$font48: 3rem;
$font49: 3.0625rem;
$font50: 3.125rem;
$font51: 3.1875rem;
$font52: 3.25rem;
$font53: 3.3125rem;
$font54: 3.375rem;
$font55: 3.4375rem;
$font56: 3.5rem;
$font57: 3.5625rem;
$font58: 3.625rem;
$font59: 3.6875rem;
$font60: 3.75rem;
$font61: 3.8125rem;
$font62: 3.875rem;
$font63: 3.9375rem;
$font64: 4rem;
$font70: 4.375rem;
/*font size end*/

$primary-font: 'Playfair Display', serif;
$secondary-font: 'Conv_Maax';
$secondary-font500: 'Conv_Maax_medium';
$secondary-font600: 'Conv_Maax_bold';
$secondary-font700: 'Conv_Maax_black';

@mixin primary-font70 {
    font-family: $primary-font;
    font-size: $font70;
    font-weight: 400;
    line-height: 74px;
    @include tab2 {
        font-size: $font30;
        line-height: 34px;
    }
}
@mixin primary-font50 {
    font-family: $primary-font;
    font-size: $font50;
    font-weight: 400;
    line-height: 54px;
    @include tab2 {
        font-size: $font26;
        line-height: 30px;
    }
}
@mixin secondary-font14 {
    font-family: $secondary-font;
    font-size: $font16;
    font-weight: 400;
    line-height: 22px;
}
@mixin secondary-font16 {
    font-family: $secondary-font;
    font-size: $font16;
    font-weight: 400;
    line-height: 20px;
}
@mixin secondary-font18 {
    font-family: $secondary-font;
    font-size: $font18;
    font-weight: 400;
    line-height: 22px;
}
@mixin secondary-font10 {
    font-family: $secondary-font;
    font-size: $font10;
    font-weight: 400;
    line-height: 14px;
}
@mixin secondary-font12 {
    font-family: $secondary-font;
    font-size: $font12;
    font-weight: 400;
    line-height: 16px;
}
@mixin transition {
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;  
}
@mixin read-more {
    .read-more-icon {
        display: inline-block;
        width: 27px;
        height: 5px;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            background: url(../images/next-btn.svg) no-repeat 0 0;
            background-size: 26px;
            width: 27px;
            height: 5px;
            z-index: 2;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: -7px;
            right: -7px;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            z-index: 1;
            @content
        }
    }
}
.read-more {
    @include read-more;
}
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
  
p {
    @include secondary-font14;
}
*:focus {
    outline: none;
}
a:focus, button:focus {
    outline: none;
}
$p-color: #21304A;
$s-color: #20204A;
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.w-75 {
    width: 95% !important;
    margin: 0 auto;
    @include tab2 {
        width: 90% !important;

    }
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.form-box {
    label {
        position: absolute;
        height:100px;
        left: 16px;
        width:400px;
        color: $p-color;
        top: 23px;
        z-index:-1;
        transition-duration: 0.2s;
        transition-property: transform;
      }
      textarea + label {
        top: 0px;
      }
      input, textarea {
        border:none;
        padding: 40px 0px 20px 0px;
        color:$p-color;
        background:transparent;
        outline:none;
        height:30px;
        width: 100%;;
        transition-property: transform;
        border-bottom: 2px solid #cccccc;
      }
      input:focus + label, textarea:focus + label{
        transform:translateY(-45px) translateX(-80px) scale(0.6);
      }
      input:valid + label {  
        transform:translateY(-45px) translateX(-80px) scale(0.6);
      }
      input:valid + label::after, textarea:valid + label::after {
        display:block;
        transform:translateX(-10px) rotate(-45deg);
      }
      input:invalid + label::after, textarea:invalid + label::after {
        transform:translateX(100px) rotate(-45deg);
      }
}
.read-more {
    display: block;
    @include tab2 {
        display: none;
    }
    &.mobile {
        display: none;
        @include tab2 {
            display: block;
        }
    }
}
button {
    padding: 20px;
    border-radius: 50px;
    background: $p-color;
    color: #ffffff;
    border: 0;
    vertical-align: middle;
    margin-top: 15px;
    i {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border-radius: 50px;
        vertical-align: middle;
        margin-left: 10px;
        position: relative;
        img {
            width: 10px;
            height: 10px;
            position: absolute;
            top: 5px;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }
}